.contenedor-tarea {
    width: 500px;
    min-height: 65px;
    background-color: #517E81;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    user-select: none;

}

.contenedor-tarea:nth-child(3n + 1 ){
    background-color: #FFC300;
}

.contenedor-tarea:nth-child(3n + 2 ){
    background-color: #FFCE2E;
}
.contenedor-tarea:nth-child(3n + 3 ){
    background-color: #FFD95E;
}

.tarea-texto {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    
}

.tarea-icono {
    width: 25px;
    height: 25px;
    margin: 5px;
    
}

.contenedor-tarea.completada {
    background-color: #581845;
    text-decoration: line-through;
    user-select: none;
}